<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <!-- formタグで情報を渡す -->
    <form action="{{ url_for('result') }}" method="get">
        <label for="e1">数値1:</label>
        <input type="number" id="e1" name="e1" value="{{ e1 }}" required><!-- requiredは送信(SUBMIT)時に入力必須チェックする -->
        <!-- value="{{ e1 }}"これしておくとブラウザバックしても値そのまま -->
        <!-- {{ e1 or '' }}しておくと、値無い場合は空 -->
        <br>
        <label for="e2">数値2:</label>
        <input type="number" id="e2" name="e2" value="{{ e2 }}" required>
        <br>
        <div>
            <!-- valueで分岐 -->
            <button type="submit" name="op" value="add">加算</button>
            <button type="submit" name="op" value="sub">減算</button>
            <button type="submit" name="op" value="mul">乗算</button>
            <button type="submit" name="op" value="div">除算</button>
        </div>
        <!-- エラーチェック -->
        {% if errid %}
            <div style="color: red;">
                {% if errid == "E001" %}
                    入力エラー：整数を入れてください。
                {% elif errid == "E002" %}
                    演算エラー：0で割れません。
                {% elif errid == "E003" %}
                    演算子エラー
                {% endif %}
            </div>
        {% endif %}
    </form>
    <a href="{{url_for('index')}}">クリア</a>
</body>
</html>

<!-- <form action="/result" method="get"></form>で情報を渡す -->
<!-- 12_Form.htmlを参照 -->