<!-- こっちに実際の中身書く -->
<!-- F12で確認すると、それぞれ書かれている場所わかる -->

{% set title = "MAIN MENU" %}


<!-- extends拡張機能 -->
<!-- layoutファイルを反映 -->
{% extends 'layout/layout.html' %}

{% block head %}{% endblock %}

<!-- headerファイルを呼び出す -->
{% block header %}
{% include 'Blocks/header.html'   %}
{% endblock %}

{% block contents %}
<h1>{{msg}}</h1>
<br>
    <!-- login画面に遷移 -->
    <a href="{{ url_for('APP2.login') }}" class="btn btn-primary">
        <i class="fas fa-sign-in-alt"></i> ログインページへ
    </a>
{% endblock %}

<!-- footerファイルを呼び出す -->
{% block footer %}
{% include 'Blocks/footer.html'   %}
{% endblock %}

<!-- チームで開発するとき、みんなで同じファイルを触ると大変なので分割する -->