{% set title = "MAIN MENU" %}

<!-- extends拡張機能 -->
<!-- layoutファイルを反映 -->
{% extends 'layout/layout.html' %}

{% block head %}{% endblock %}

<!-- headerファイルを呼び出す -->
{% block header %}
{% include 'Blocks/header.html'   %}
{% endblock %}

{% block contents %}
<h1>{{msg}}</h1>
<br>
    <!-- login画面に遷移(Blueprint) -->
    <!-- bootstrapのプライマリボタン(大) -->
    <a href="{{ url_for('LoginSystem.login') }}" class="btn btn-primary btn-lg">
        <!-- ログインアイコン -->
        <i class="fas fa-sign-in-alt"></i> ログインページへ
    </a>
{% endblock %}

<!-- footerファイルを呼び出す -->
{% block footer %}
{% include 'Blocks/footer.html'   %}
{% endblock %}